<div class=" pb-5">
<h2 class="heading-profile text-center">Reading Stats</h2>

  <div class="d-flex align-items-center justify-content-center">
    <div>
      <h1 class= "h1-tracker align-items-center"><%= @read_books.count %></h1>
      <p><strong> Books read this year</strong></p>
    </div>
    <div>
      <h1 class= "h1-tracker"><%= @read_books.count %></h1>
      <p><strong> Conversations started</strong></p>
    </div>
    <div>
      <h1 class= "h1-tracker"><%= @read_books.count %></h1>
      <p><strong> Books read this year</strong></p>
    </div>
    <div>
      <h1 class= "h1-tracker"><%= @read_books.count %></h1>
      <p><strong> Books read this year</strong></p>
    </div>
  </div>
</div>
