
<div class="container">
  <div class="d-flex">
    <%= render "currently_reading" %>
    <%= render "profile" %>
  </div>
  <%# Currently reading with book image %>
  <%# has read with book images %>
  <%= render "has_read" %>
  <%= render "book_tracking" %>
</div>
