
<div class="container pt-3">
  <div class="d-flex">
    <%= render "currently_reading" %>
    <div>
      <%= render "profile" %>
      <%# Currently reading with book image %>
      <%# has read with book images %>
      <%= render "has_read" %>
    </div>
  </div>
  <%= render "book_tracking" %>
</div>
