
<div class="container pt-3">
  <div class="d-flex">
    <%= render "currently_reading" %>
    <%= render "profile" %>
      <%# Currently reading with book image %>
      <%# has read with book images %>
  </div>
  <%= render "has_read" %>
  <%# <%= render "book_tracking" %> 
</div>
