    <div class="main div">
      <h2 class="heading-dashboard">Your Shelves</h2>
      <p class="greyed-p">Add all the books you want to read here & mark the one you're currently reading for everyone to see</p>

        <div class="d-flex">
          <% unless @books.empty? %>
            <%= render "my_shelves", books: @books, section: "currently_reading" %>
          <% end %>
          <br>
        </div>
</div>
