    <div class="main div">
      <h2 class="heading-dashboard">Currently Reading:</h2>
        <div class="d-flex">
          <% unless @currently_reading.empty? %>
            <%= render "carousel", books: @currently_reading, section: "currently_reading" %>
          <% end %>
          <br>
        </div>
</div>
