<div class="d-flex">
        <div class="d-flex">
          <% unless @currently_reading.empty? %>
            <%= render "carousel", books: @currently_reading %>
          <% end %>
          <br>
        </div>
</div>
