<div class="position-relative">
  <%= image_tag("georg.jpeg", class: "rounded-circle position-absolute top-0 end-0", style: "width: 40px; height: 40px;", alt: "User Profile") %>
  <%= image_tag "never-ken-follett.png", class: "img-fluid", alt: "Currently Reading", height: 120, width: 79 %>
</div>
