<% book = user.books.find_by(currently_reading: true) %>
<div class="position-relative">
  <% if book.present? %>
  <%# <% if user.photo.present? %>
    <%# <%= cl_image_tag user.photo.key, class: "rounded-circle position-absolute top-0 end-0", height: 40, width: 40, crop: :fill %>
  <%# <% end %>
  <%= cl_image_tag book.photo.key, height: 120, width: 79, crop: :fill %>
  <% end %>
</div>
