<div class="main div d-flex" style="margin-left: 55px">
          <% unless @books.empty? %>
            <% @books.each do |book| %>
              <div class="text-center">
                <div class="card-book">
                  <div class="image">
                    <%= cl_image_tag book.photo.key, height: 280, width: 180, crop: :fill %>
                    <% if book.currently_reading %>
                    <i class="fa-solid fa-book-open-reader fa-flip" style="color: #FF4602;" title ="Currently Reading"></i>
                    <%else%>
                    <i class="fa-solid fa-bookmark" style="color: #FF4602;" title ="In My Shelves"></i>
                    <%end%>
                  </div>
                </div>
                  <div style="padding-top: 20px; padding-bottom: 20px;">
                    <% if book.currently_reading %>
                      <%= link_to have_read_book_path(book), method: :patch do %>
                        <i class="fa-solid fa-book-bookmark fa-2xl" style="color: #000000;" title ="Finished with reading?"></i>
                      <% end %>
                    <% else %>
                      <%= link_to currently_reading_book_path(book), method: :patch do %>
                        <i class="fa-solid fa-book-open-reader fa-2xl" style="color: #000000;" title ="Currently Reading?"></i>
                      <% end %>
                    <% end %>
                  </div>
              </div>
            <% end%>
          <% end %>
</div>
