<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1 class="heading-dashboard">GeGre's Shelves </h1>
<h2 class="heading-dashboard">Reading Stats</h2>

<h1 class="heading-profile">Your Dashboard</h1>
<h2 class="heading-profile">Borrow Requests</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut erat sit amet odio tempus sodales. Maecenas elementum justo vitae imperdiet pretium. Etiam faucibus volutpat diam, sed efficitur leo dapibus in. Suspendisse condimentum tortor at justo gravida aliquam. Nulla blandit convallis sodales. Vivamus blandit, metus ut egestas fermentum, justo nibh euismod quam, vitae consectetur nulla magna sit amet urna. Quisque eget diam tincidunt, commodo nisl sit amet, dictum lorem. Aenean facilisis efficitur porttitor. Aenean mauris massa, pellentesque vel sagittis et, porttitor nec turpis. Fusce nec euismod quam. Etiam malesuada neque et enim accumsan varius.</p>

<p class="btn-green"> Start a conversation ✍️ </p>
<p class="btn-black"> Sign up </p>
<p class="btn-black"> Log in </p>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
