<div class="quote-body pt-3">
  <div class="container quote content">
    <%= @book_quote %>
    <hr>
    <div style = "width: 50%; margin: auto">
    <p style = "font-size: 20px">Ready to discover your reading community? Click below to unlock the bookish wonders waiting for you!</h6>
    <br>
    <br>
    <%= link_to "Local readers", map_path, class: "btn btn-green" %>
    </div>
  </div>
</div>
