<div class="quote-body pt-3">
  <div class="container quote content">
    <%= @book_quote %>
    <hr>
    <p style = "font-size: 20px">See what people in your area are reading</h6>
    <br>
    <br>
    <%= link_to "Find community", map_path, class: "btn btn-green" %>
    </div>
  </div>

</div>
