<div class="container pt-5 justify">
<ul>
  <% if !@books %>
    <p>There are no books in the system</p>
  <% else %>
    <% @books.each do |book| %>
      <li class="pt-3">
        <%= link_to book.title, book_path(book) %>
        <%= book.author %>
        <br>
        <%= book.description %>
        <br>
        <%= link_to "Delete", book_path(book), class: "btn-green", method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </li>
      <br>
    <% end %>
  <% end %>
</ul>
</div>
