<div class = "container">
<h1><%= @book.title %></h1>
<br>
<div class="d-flex mb-5">
<%= cl_image_tag @book.photo.key, height: 500, width: 300, crop: :fill %>
<br>
<%= @book.description %>
</div>
<div class="pb-5">
  <%= link_to "Back to Home", root_path, class: "btn-green text-decoration-none " %>
  </div>
</div>
