.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 65px;
  border-radius: 50%;
  border-style: solid;
  border-color: #D5D507;
  border-width: medium;
  align-self:center;

}

.avatar-x-large {
  width: 200px;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  border-width: medium;
  align-self:center;
}
