.card-book {
  // background-color: rgb(243, 241, 241);
  width: 250px;
  // box-shadow: 5px 5px 20px grey;
  margin: 5px;
  border-radius: 16px;
}

.carousel-item {
  .col-3 {
    min-width: max-content;
    text-align: start;  }
}

.picture {
  width: 100%;
}

.card-book .btn {
  display: none;
}

.card-book :hover .btn {
  display: block;
}

.text {
  display: flex;
  text-align: center;
  max-width: 180px;
  margin: 0 auto;
  padding-top: 10px;
  font-size: 14px;
}

.btn-dashboard {
  position: absolute;
  top: 42%;
  left: 45%;
  transform: translate(-50%, -50%);
  opacity: 15%;
  transition: opacity 0.2s ease-in-out;
  border-radius: 25px
}

.card-book:hover .btn-dashboard {
  opacity: 3;
}

.flex-container {
  display: flex;
}

.btn-green-dash {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
  background-color: white;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-green-dash:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-green-dash {
    padding: 0.25em 0.75em;
  }
}








@media (max-width: 767px) {
  .carousel-inner .carousel-item>div {
    display: none;
  }

  .carousel-inner .carousel-item>div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
  ;
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-control-prev-icon {
  margin-left: -50px;
  background-color: red;
  color: black;
  border-radius: 50%;
}

.carousel-control-next-icon {
  margin-right: -50px;
  background-color: red;
  color: black;
  border-radius: 50%;
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}
