.card-book {
  background-color: rgb(243, 241, 241);
  width: 250px;
  box-shadow: 5px 5px 20px grey;
  margin: 5px;
  border-radius: 16px;
}

.picture {
  width: 100%;
  margin-left: 35px;
}

.text {
  // display: flex;
  text-align: center;
}

.btn {
margin: 8px;
}

.flex-container {
  display: flex;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
transform: translateX(0);
}
