.footer {
  background: #FFF8F5;
  height: 30px;
  padding: 0px 100%;
  z-index: 1000;
  border-top: 2px solid $black;
  margin-top: auto;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
