.books-container {
  position: relative;
}

.image {
  position: relative;
  display: inline-block;
}

.image i {
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 30px;
}

.green {
  color: #D5D507
}
.red {
  color: #FF4702
}
.yellow {
  color: #FFD00A
}
.btn-delete {
  position: absolute;
  bottom: 40px;
  left: 35px;
  color: black;
  font-size: 24px;
  border: none;
  padding: 0;
}
.btn-accept {
  position: absolute;
  bottom: 40px;
  right: 0px;
  color: #D5D507;
  font-size: 24px;
  border: none;
  padding: 0;
}
