.quote-body {
	font-family: 'Roboto Mono', monospace;
	height: 81vh;
	background: linear-gradient(135deg, #F8ECDD 50%, #FF4702 50%);
	background-attachment: fixed;
}

  .quote {
    margin-top: 10vh;
    font-size: 4em;
    line-height: normal;
    text-align: center;
    position: fixed;
  }
