.quote-body {
	height: 87vh;
	background: linear-gradient(135deg, #F8ECDD 50%, #FF4702 50%);
	background-attachment: fixed;
}

.quote {
  margin-top: 10vh;
  font-size: 4em;
  line-height: normal;
  text-align: center;
  position: fixed;
  padding-left: 6%;
}
