.navbar-lewagon {
  justify-content: space-between;
  border-bottom: 2px solid $black;
  background-color: #FFFDFC;
  height: auto;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  padding-right: 2%;
  padding-left: 2%;
}

.link {
  color: $black;
  text-decoration: none;
  &:hover {
    color: $green;
  }
}
