.center_review{
  justify-content: center;
  text-align: center;
}

.rating {
  font-size: 30px;
}
.quote-body-reviews {
	font-family: 'Roboto Mono', monospace;
	height: 87vh;
	background: linear-gradient(135deg, #ffffff 50%, #F8ECDD  50%);
	background-attachment: fixed;
}
