.center_review{
  justify-content: center;
  text-align: center;
}

.rating {
  font-size: 30px;
}
.quote-body-reviews {
	font-family: 'Roboto Mono', monospace;
	height: 87vh;
	background: linear-gradient(135deg, #ffffff 50%, #F8ECDD  50%);
	background-attachment: fixed;
}

.quote-reviews {
    margin-top: 10vh;
    font-size: 4em;
    line-height: normal;
    text-align: center;
    position: fixed;
    padding-left: 6%;
  }
