  .list-group-horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  .list-group-item {
    flex: 0 0 20%;
    box-sizing: border-box;
    padding: 10px;
    list-style-type: none;
    border: none;
    max-width: 160px;
    margin: 30px;
    font-size: 12px;
  }

  .list-group-item img {
    height: 220px;
    width: 140px;
  }

  // for the default round green button
  .search-bar {
    display: flex;
    align-items: center;
    max-width: 750px;
    margin: 0 auto;
    border-radius: 24px;
    background-color: #f2f2f2;
    // padding: 6px 12px;
    padding: 0px 0px 0px 12px;
  }

  // for the default round green button
  .search-input {
    flex-grow: 1;
    border: none;
    padding: 5px;
    font-size: 16px;
    background: none;
    color: #333333;
  }

  // for the white square button
  // .search-bar {
  //   display: flex;
  //   align-items: center;
  //   max-width: 750px;
  //   margin: 0 auto;
  //   border-radius: 24px 0 0 24px;
  //   background-color: #f2f2f2;
  //   padding: 6px 0;
  // }

  // for the square white button
  .square-button {
    padding: 10px 15px;
  }

  // for the white square button
  // .search-input {
  //   flex-grow: 1;
  //   border: none;
  //   padding: 5px;
  //   font-size: 16px;
  //   background: none;
  //   color: #333333;
  //   border-radius: 0;
  // }

  .square-button:hover {
    background-color: #ffffff;
    color: #D5D507;
  }

  .add-button:hover {
    background-color: #ffffff;
    color: #D5D507;
  }
